@tailwind base;
@tailwind components;
@tailwind utilities;

.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp.one-line {
    -webkit-line-clamp: 1;
}

.table-wrapper {
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
